<!DOCTYPE>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Movie app</title>
</head>
<body ng-app="movieApp">

	<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ANGUFLIX</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right nav-tabs">
          <li class="dropdown">
            <a href="#" class="view-cart" data-toggle="dropdown" role="button">Anguflix coins</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <section>
  	<div class="page-header"></div>
  	<h1>My Collection</h1>

  	<div class="row" ng-controller="movieCtrl">
      <div class="col-md-4" ng-repeat="movie in userMovies track by $index">
      <i class="fa fa-times-circle-o fa-3x" aria-hidden="true" ng-click="removeMovie($item)"></i>
        <div class="movie-container movie-collection" >
          <div class="card item">
            <div class="pricebox">
              <p class="price"> ${{movie.price}} </p>
            </div>
            <div class="ratingbox">
              <p class="rating"> {{movie.rating}} </p>
            </div>
            <div class="name-movie">
              <p class="add-to-collection"> {{movie.name}}</p>
            </div>
            <div class="year-movie">
              <p class="year-collection"> {{movie.year}}</p>
            </div>
            <div class="description-movie">
              <p class="des-collection"> {{movie.description}}</p>
            </div>
	          <div class="card-inner">
	              <img ng-src="{{movie.image}}" class="proimage">
	          </div>
	        </div>
        </div>
      </div>
  	</div>
  </section>

  <div class="page-header">
    <h1>MOVIES</h1>
  </div>

  <div class="container">
  	<div class="row" ng-controller="movieCtrl">
      <div class="col-md-4" ng-repeat="movie in movies track by $index" ng-click="addUserMovies($index)">
        <div class="movie-container" >
          <div class="card item">
            <div class="pricebox">
              <p class="price"> ${{movie.price}} </p>
            </div>
            <div class="ratingbox">
              <p class="rating"> {{movie.rating}} </p>
            </div>
            <div class="name-movie">
              <p class="add-to-collection"> {{movie.name}}</p>
            </div>
            <div class="year-movie">
              <p class="year-collection"> {{movie.year}}</p>
            </div>
            <div class="description-movie">
              <p class="des-collection"> {{movie.description}}</p>
            </div>
	          <div class="card-inner">
	              <img ng-src="{{movie.image}}" class="proimage">
	          </div>
	        </div>
        </div>
      </div>
  	</div>

  	<div ng-controller="movieCtrl"> great movie: {{ movie }} </div>
  </div>




<script src="node_modules/angular/angular.min.js"></script>
<script src="app.js"></script>
<script src="movieService.js"></script>
<script src="movieCtrl.js"></script>
</body>
</html>